.search-players-container {
  background-color: #f8f8f8; /* White background */
  border-radius: 10px; /* Rounded edges */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.search-players-container h1, .search-players-container h2 {
  color: #333;
}

.filters {
  margin-bottom: 20px;
}

.filters label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333; /* Text color */
}

.filters select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  cursor: pointer;
}

/* Add additional styling for search results here */
/* Add an arrow to the custom select dropdown */
.custom-select::after {
  content: '\25BC'; /* Down arrow character */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 10px;
  color: #333; /* Arrow color */
}

.custom-select select:hover {
  border-color: #007bff; /* Highlight on hover */
}

.profile-info {
  text-align: left;
  margin-top: 20px;
}

.image-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #36618fc1; /* Dark background color for the image box */
  padding: 10px;
  border-radius: 5px; /* Add rounded borders */
}

/* Add this CSS to your stylesheet */
.search-result {
  border-bottom: 1px solid rgb(42, 41, 41); /* Add a black horizontal line below each search result */
  margin-bottom: 20px; /* Add some spacing between search results */
}

.profile-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.info-chunk {
  flex: 1;
  margin-right: 20px; /* Add spacing between info chunks */
}

.image-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.profile-image {
  max-width: 50px; /* Adjust the image size as needed */
  margin-right: 10px; /* Add spacing between images */
}

