/* UserAccountPage.css */
.user-account-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5; /* Light gray background color */
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: left; /* Align content to the left */
  color: #333; /* Dark text color */
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333; /* Heading text color */
}

ul {
  list-style: none;
  padding: 0;
}

.profile-info {
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
  color: #333; /* Dark text color */
}

.error-message {
  color: #ff4655; /* Error message text color */
}

.image-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  background-color: #36618fc1; /* Dark background color for the image box */
  padding: 10px;
  border-radius: 5px; /* Add rounded borders */
}


.profile-image {
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
}


/* UserAccountPage.css */
/* Add these styles for the button container */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
}

/* Add this to your CSS file */

/* Style for the text on the left */
.want-people-text {
  float: left; /* Float the text to the left */
  margin-right: 10px; /* Add some margin to separate text and button */
}

/* Style for the button on the right */
.search-players-button {
  float: right; /* Float the button to the left */
  clear: right; /* Clear the float so that it doesn't overlap with the text */
  background-color: #007bff; /* Example background color (you can change this) */
  color: white; /* Text color */
  padding: 10px 20px; /* Padding for the button */
  border: none; /* Remove button border */
  border-radius: 5px; /* Add some border radius for rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
}

/* Add hover effect for the button */
.search-players-button:hover {
  background-color: #0056b3; /* Example background color on hover (you can change this) */
}


